.footer_container {
    display: flex;
    padding: 0 2rem;
}

@media screen and (max-width: 996px) {
    .footer_container {
        flex-direction: column;
    }
}

.footer_container > * {
    flex-grow: 1;
}